{% extends 'base.html' %}
{% block content %}
<h1> {{crime.title}} </h1>
<br>
<h2> {{crime.location}} </h2>
<h2> {{crime.date}} </h2>
<br>
<p> {{crime.description}} </p>
<p> {{crime.victims}} </p>
<br>
<h2> the victims are: </h2>
{% for victim in crime.victim_set.all %}
  <p> {{victim.name }} who's {{victim.age }} years old </p>
{% endfor %}

<h3>Add a victim</h3>
<form action='{% url 'add-victim' crime.id %}' method="post" autocomplete="off">
  {% csrf_token %} 
  {{ victims.as_p }}
  <button type="submit">Add</button>
</form>

<br>
{% if crime.open == True %}
  <p> this crime is still open </p>
{% elif crime.open == False and crime.successful == True%}
  <p> this crime was successfully solved</p>
{% else %}
  <p> this crime was closed without a conclusion</p>
{% endif %}

<a href='{% url 'case-update' crime.id %}'> edit </a>
<a href='{% url 'case-delete' crime.id %}'> delete </a>

{% endblock %}