{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/splash.svg' %}"
    />
      <link rel="stylesheet" href="{% static 'css/base.css' %}" />
      <link rel="stylesheet" href="{% static 'css/flex.css' %}" />
      <link rel="stylesheet" href="{% static 'css/classes.css' %}" />
      <link rel="stylesheet" href="{% static 'css/ids.css' %}" />

    <title>Cases</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header class='flexSpaceInBetween'>
      <a href="{% url 'home' %}">
        <img src="{% static 'images/icon.svg' %}" alt="The Cat Collector Logo" id='header_icon'/>
      </a>
      <nav>
        {% if user.is_authenticated %}
          <ul class='flex'>
            <li><a class='margin button' href="/about">Current Assignment</a></li>
            <li><a class='margin button' href="/">logOut</a></li>
            <li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>
          </ul>
        {% else %}
          <ul>
            <li><a class='margin button' href="{% url 'signup' %}">Sign Up</a></li>
          </ul>
        {% endif %}
      </nav>
    </header>
    <hr />
    <main>
      {% block content %} 
      {% endblock %}
    </main>
  </body>
</html>
