{% extends 'base.html' %}
{% comment %} ref: https://docs.djangoproject.com/en/5.1/ref/templates/builtins {% endcomment %}

{% block content %}

{% if crimes %}
  <section class='section'>
    <div class="flexSpaceAround maxWidth">
      {% for crime in crimes|slice:":5" %}
        <a href='{% url 'case-details' crime.id %}'>
          <div class="flex">
            <div class="card">
              <h2>{{ crime.title }}</h2>
              <p><small>{{ crime.description }}</small></p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
{% else %}
  <h1>There are no recoded cases</h1>
{% endif %}

<a class='margin button' id='more' href="/cases">view more</a>
<a href='{% url 'case-create' %}'>add a case</a>

{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %} {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit">Login</button>
    </form>
  </section>
{% endif %}
{% endblock %}