{% extends 'base.html' %}
{% comment %} ref: https://docs.djangoproject.com/en/5.1/ref/templates/builtins {% endcomment %}

{% block content %}
<section class='section'>
  <div class="flexSpaceAround maxWidth">
    {% for crime in crimes|slice:":5" %}
      <a href='{% url 'case-details' crime.id %}'>
        <div class="flex">
          <div class="card">
            <h2>{{ crime.title }}</h2>
            <p><small>{{ crime.description }}</small></p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <a class='margin button' id='more' href="/cases">view more</a>
</section>

<a href='{% url 'case-create' %}'>add a case</a>
{% endblock %}
