.flex{
  display: flex;
}

.flexSpaceInBetween{
  display: flex;
  justify-content: space-between;
}

.flexSpaceAround{
  display: flex;
  justify-content: space-around;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}